// ------ BACKGROUND ----------------------- 
$color-background: #dff9f9;
$color-background-hover: #cdedfa;
$color-backgorund-overlay: #2135556a;
$color-body-background: #0d1622;
$color-background-send:#384f75 ;
$color-background-send-hover:#506689 ;

// ------ TEXT ----------------------- 
$color-todo:  #b7d984; 
$color-todo-text:#213555;
$color-todo-category:#8a6143; 
$color-empty-text: #477f60;
$color-secondary:#364b6f;
$color-secondary-hover: #233656;
$color-white: #ffffff;
$color-primary: #213555;
$color-primary-hover: #385077;
$color-complete:  #7EAA92;
$color-peach: #feb48e;
//------- ICONS ---------
$color-red: #EE4C5D;
//------- BOX SHADOW ---------
$color-shadow-todo:  2px 11px 19px -3px rgba(70,99,30,0.65);
$color-shadow-addButton: 2px 11px 19px -3px rgba(33, 53, 85, 1); 

