.CompletedModal {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 200;
  background-color: $color-background;
  @include flexCenter(0);
  flex-direction: column;
  padding: 15px;
  .completed {
    & h1 {
      font-size: 30px;
      font-weight: 700;
      color: $color-empty-text;
    }
  }
  .turtle_image{
    animation: bigT 0.3s infinite alternate;
  }
  .message {
    @include flexCenter(0);

    & h1 {
      text-align: center;
      font-size: 22px;
      font-weight: 400;
      color: $color-todo-category;
    }
  }

  @keyframes bigT {
  from {transform: scale(1)}
  to {transform: scale(1.2)}
}
}
